<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SearchSection" type="Searcher.OwnSectionRead.SearchProviderSection, Searcher"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
       <add key="placeFile" value="D:\\Study\\CsharpTasks\\Task8\\SearchInFile\\SearchInFile\\bin\\Debug\\SearchInFile.dll"/> 
       <add key="placeDb" value="D:\\Study\\CsharpTasks\\Task8\\DbSearch\\DbSearch\\bin\\Debug\\DbSearch.dll"/>
  </appSettings>

  <SearchSection>
    <searchProviderSettings>
      <add assembly="DbSearch" class ="DbSearch.SearchDb"/>
      <add assembly="SearchInFile" class ="SearchInFile.FileSearch" param="D:\\Study\\CsharpTasks\\Task8\\SearchInFile\\SearchInFile\\bin\\Debug"/>
    </searchProviderSettings>
  </SearchSection>
 
</configuration>
